.home {
    display: flex;
    flex-direction: column;
}

.banner {
    margin-bottom: 50px;
}

.slider {

}

.types {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    height: 10rem;
}

.featured {
    height: 100%;
    width: 50%;
    background-color: #A2BAC4;
}

.newest {
    height: 100%;
    width: 50%;
    background-color: #EDEAE3;
}

.banner_desc {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.banner_desc h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.banner_desc p {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.daily_deals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.toggle_item {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    color: #777676;
}

.toggle_item:hover {
    color: #A2BAC4;
}

.active {
    font-size: 1.2rem;
    color: #F9A826;
}

.service {
    background-image: url("../../Assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.product {
    margin: 0 20px;
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_image {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.product_image img :hover {
    transform: scale(1.1);
}

.tag {
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #F9A826;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

.product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 30%;
    color: #fff;
    margin: 0 20px;
    border-radius: 10px;
    position: relative;
}

.service_item:nth-child(1) {
    background-color: #A2BAC4;
}

.service_item:nth-child(2) {
    background-color: #F9A826;
}

.service_item:nth-child(3) {
    background-color: #23c700;
}

.service_item h1 {
    font-family: Yellowtail, 'cursive';
    font-size: 2rem;
    font-weight: 400;
}

.service_item p {
    margin-top: 0;
    font-family: Lato, 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.service_item img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
    rotate: -20deg;
    mix-blend-mode: overlay;
}

.service_item img:hover {
    animation: horizontal-shaking 0.5s ease-in-out;
}


@keyframes horizontal-shaking {
    0% {
        transform: scale(1.03) translateX(0)
    }
    25% {
        transform: scale(1.05) translateX(5px)
    }
    50% {
        transform: scale(1.02) translateX(-5px)
    }
    75% {
        transform: scale(1) translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}

@media screen and (max-width: 768px) {
    .service_item {
        width: 100%;
        margin: 0;
    }

    .service_item img {
        width: 50px;
        height: 50px;
    }

    .service_item h1 {
        font-size: 1.5rem;
    }

    .service_item p {
        font-size: 0.8rem;
    }

    .products {
        flex-direction: column;
    }

    .product {
        width: 50%;
    }

    .product_image {
        width: 100%;
        height: 100%;
    }

    .product_image img {
        width: 100%;
        height: 100%;
    }

    .service {
        flex-direction: column;
        width: auto;
        margin: 20px;
        background-image: none;
    }

    .types {
        flex-direction: column;
        height: 20rem;
    }

    .featured {
        width: 100%;
        height: 50%;
    }

    .newest {
        width: 100%;
        height: 50%;
    }

    .banner_desc {
        padding-left: 0;
        align-items: center;
    }

    .banner_desc h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .banner_desc p {
        font-size: 2.5rem;
        text-align: center;
    }

    .banner {
        margin-bottom: 0;
    }

    .home {
        flex-direction: column;
    }

    .service_item {
        margin-bottom: 10px;
    }
}