.navbar {
    width: 100%;
    min-height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: all .4s ease-in;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.logo {
    background-image: url('https://i.ibb.co/0nQqQZp/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;
    transition: all .3s ease-in;
    position: relative;
}

.links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    margin-top: 3px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.transparentBtn {
    background-color: transparent;
    border: 1px solid #282c34;
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px;
    color: #282c34;
    transition: all .2s ease-in;
}

.transparentBtn:hover {
    background-color: #282c34;
    color: #fff;
}

.hamburger-menu, .close-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 5rem;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 10px;
    }

    .close-menu {
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .transparentBtn {
        display: none;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 0;
        height: calc(100vh - 7rem);
        transition: all .3s ease-in-out;
    }


    .links ul li {
        display: none;
        transition: all .3s ease-in-out;
    }

    .links-open ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 100%;
        height: calc(100vh - 7rem);
        transition: all .3s ease-in-out;
        z-index: 1000;

    }


    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .navbar a {
        padding: 10px 0;
    }

    .navbar a:hover :after {
        content: none;
    }

    .logo {
        width: 10%;
        height: 80%;
    }

}