@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap');

.App {
    text-align: center;
}

.content {
    position: relative;

    margin-top: 4.2rem;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
}

.tag {
    position: absolute;
    top: 15px;
    left: 10px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;

}

.discount {
    background-color: #FB4918;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 1rem 0;
}